{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<section class="vh-100" style="background-color:beige;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="card-body  text-center">

                        <p> Texte d'accroche </p>
                        <p>à définir plus tard </p>

                        <div class="form-outline ">
                            <form action="{{ path('registre') }}" method="post">
                            <input  type="email" id="email" name="email"  class="form-control "   placeholder="Adresse email a rentrer ">
                            <button  class="btn btn-primary"  type="submit">Commencer</button>
                            </form>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
                        {% endblock %}
