.input-holder {
    position: relative;
    margin: 0 0 20px;
}
input, textarea {
    border: 2px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    width: 100%;
    resize: none;
    transition: 0.3s;
}
input:focus, textarea:focus {
    border: 2px solid #999;
    outline: none;
}
textarea {
    min-height: 100px;
}
.message {
    position: absolute;
    z-index: 9;
    display: none;
    width: 40%;
    padding: 10px;
    margin-top: 3px;
    background: #d9585c;
    color: #fff;
    text-align: center;
}
.message:after {
    content: '';
    position: absolute;
    top: -10px;
    left: 50%;
    display: block;
    margin-left: -10px;
    border: solid;
    border-color: #d9585c transparent #d9585c;
    border-width: 0 10px 10px;
}
.is-valid {
    border-color: #aad661 !important;
    transition: 1ms;
}
.not-valid {
    border-color: #d7595f;
    transition: 1ms;
}
.not-valid + .message {
    display: block !important;
}
.submit {
    display: block;
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
    background: transparent;
    color: #ccc;
    transition: 0.3s;
}
.submit:hover {
    color: #aad661;
    border-color: #aad661;
}
