
<div class="form-row" id="miseAjourSCISARL">

    <div class="form-holder">
        <label> Le gérant et co-gérant(s) sont-ils associés ?  </label>
        <select class="form-control" id="ouinonSCISARL">
            <option value=""></option>
            <option value="non">non</option>
            <option onclick="" value="oui">oui</option>
        </select>
    </div>
</div>


<div class="form-row" id="miseAjourSCIakaho">

    <div class="form-holder ">
        <label> Le gérant et co-gérant(s) sont-ils rémunérés ?</label>

        <select class="form-control" id="ouinonSCIrenumeres">
            <option value=""></option>
            <option value="non">non</option>
            <option onclick="" value="oui">oui</option>
        </select>
    </div>
</div>




