



<!-------------------Divs mte3 secteur Activité ---------------------------->
<div class="form-row" id="lazemTet5abaCafeResto">

    <div class="form-holder form-holder-2">
        <label>Avec débit de tabac ? </label>
        <select class="form-control" id="ouinonSecteurActivite">
            <option value=""></option>
            <option value="non">non</option>
            <option onclick="redirect();" value="oui">oui</option>
        </select>
    </div>
</div>
<!--------------------------------------------->
<div class="form-row" id="lazemTet5abaTransportPerso">

    <div class="form-holder form-holder-2">
        <label>Exercez-vous une activité de taxi sous licence? </label>

        <select class="form-control" id="ouinonTransportPerso">
            <option value=""></option>
            <option value="oui">oui</option>
            <option value="non">non</option>
        </select>
    </div>

</div>
<!--------------------------------------------->
<div class="form-row" id="lazemTet5abaTransportPersoThenya">
    <div class="form-holder form-holder-2">
        <label> Exercez-vous une activité de VTC, chauffeur privé ou autre transport collectif de personnes? </label>
        <select class="form-control" id="ouinonTransportPersoThenya">


            <option value=""></option>
            <option onclick="createAlert('Opps!','.','REPONSE INCOHERENTE','danger',true,false,'pageMessages');fasa5KolChaywM3ahaSecteurActivite();"
                    value="non">non
            </option>
            <option onclick="createAlert('Opps!','.','ATTENTION ! VOTRE ACTIVITE ETANT REGLEMENTEE, VOTRE COMPTABILITE NECESSITE UN COMMISSAIRE AUX COMPTES OU, A DEFAUT, UN EXPERT-COMPTABLE POUR LES CAPACITES FINANCIERES A JUSTIFIER AU DREAL','danger',true,false,'pageMessages');"
                    value="oui">oui
            </option>
        </select>
    </div>
</div>
<!--------------------------------------------->
<div class="form-row" id="lazemTet5abaImmobilier">
    <div class="form-holder form-holder-2">
        <label>Exercez-vous une activité d'agent immobilier ? (différent d'une activité de SCI) </label>
        <select class="form-control" id="ouinonImmobilier">
            <label> Exercez-vous une activité d'agent immobilier ? (différent d'une activité de SCI)</label>
            <option value=""></option>
            <option value="non">non</option>
            <option id="matloubaBa3din" value="oui">oui</option>
        </select>
    </div>
</div>
<!--------------------------------------------->
<div class="form-row" id="lazemTet5abaImmobilierThenya">

    <div class="form-holder form-holder-2">
        <label>Exercez-vous uniquement une activité d'intermédiaire de vente? </label>

        <select class="form-control" id="ouinonImmobilierThenya">

            <option value=""></option>
            <option value="oui">oui</option>
            <option onclick="createAlert('Opps!','.','DESOLE ! NOUS NE POUVONS PAS TRAITER CETTE ACTIVITE.','danger',true,false,'pageMessages');redirect();"
                    value="non">non
            </option>
        </select>
    </div>
</div>
<!------------------------------------------------------------------------------>