
<input type="hidden" value="">
<form action="{{ path('donneesExcerice') }}" method="post">
    <input type="hidden"  name="formjuridique" value="{{ formjuridique }}">

    <div class="mt-4" >

        <span class="badge bg-warning "> S'agit il du 1er exercice comptable de  {{ nomdeDossier}}   ?
        </span>
        <select id="firstYesNo" name="firstYesNo">
            <option>oui</option>
            <option>non</option>
        </select>
    </div>

    <div id="siOui"  >

        <div id="siJuridiqueOui">
            <div class="form-group mt-4 col-4" >
                <span class="badge bg-warning "> "Veuillez indiquer la date de création de l'entreprise" </span>
            </div>

            <div class="form-group mt-4 col-4" >
                <input id="date" name="dateCreationEntreprise" type="date" value="2017-06-01">
            </div>

            <label class=" badge bg-warning col-3 " >Date de clôture du 1er exercice</label>

            <div class="col-sm-3">
                <input type="text" name="datecloture1ex"  class="date_cloture_1_ex" id="date_cloture_1_ex" >
            </div>


        </div>

        <div id="siJuridiqueNon">
            <div  id="divFordateSignature" class="form-group mt-4 col-4" >
                <span class="badge bg-warning "> "Veuillez indiquer la date de signature des statuts"</span>
                <input id="date2" type="date"  name="datesignatureStatus" value="2017-06-01">
            </div>


            <div id="VeuillezIndiquerLaDateDeClotureDu1erExerciceComptable">

                <div class="form-group mt-4 col-4" >


                    <span class="badge bg-warning "> Veuillez indiquer la date de cloture du 1er exercice comptable (Bilan)</span>
                    <div class="form-group  col-6  ">

                        <label  class=" badge bg-warning   ">Cela est défini dans les statuts de la société à l'article Exercice social"</label>
                    </div>


                    <div class="form-group mt-4 col-6 m-lg-2 ">
                        <div class="col-6">
                            <select name="jourCloture1erEerc">
                                <option>28</option>
                                <option>29</option>
                                <option>30</option>
                                <option>31</option>

                            </select>
                            <label  class=" badge bg-warning col-3  ">Jour</label>
                        </div>



                    </div>

                    <div class="form-group  col-6 m-lg-2 ">
                        <input type="text" name="anneeCloture1erExcerciceSIFORMEJURIDIQUEDIFFERENT" class="annee" id="annee" >
                        <label class=" badge bg-warning col-3  ">Année</label>
                    </div>

                    <div class="form-group mt-4 col-6 m-lg-2 ">
                        <div class="col-6">
                            <select name="MoisCloture1erExcerciceSIFORMEJURIDIQUEDIFFERENT">
                                <option>Janvier</option>
                                <option>février</option>
                                <option>mars</option>
                                <option>avril</option>
                                <option>mai</option>
                                <option>juin</option>
                                <option>juillet</option>
                                <option>aout</option>
                                <option>septembre</option>
                                <option>october</option>
                                <option>novembre</option>
                                <option>decembre</option>

                            </select>
                            <label class=" badge bg-warning col-3  ">Mois</label>
                        </div>
                    </div>


                </div>

            </div>

        </div>
    </div>
    </div>






    <div id="siNon">
        <div class="form-group mt-4 col-4" >

            <span class="badge bg-warning "> Quelle est la date de fin du dernier bilan comptable déposé aux impôts ?</span>

        </div>
        <div class="form-group mt-4 col-4" >
            <input id="dateFinDernierBilanComptable" name="dateFinDernierBilanComptable" type="date" value="2017-06-01">
        </div>


        {#    <div class="form-group mt-4 col-6 m-lg-2 ">#}
        {#        <input type="text"  class="jour" id="jour" >#}
        {#        <label class=" badge bg-warning col-3  ">Jour</label>#}
        {#    </div>#}
        {#    <div class="form-group  col-6 m-lg-2 ">#}
        {#        <input type="text"  class="mois" id="mois" >#}
        {#        <label  class=" badge bg-warning col-3  ">Mois</label>#}
        {#    </div>#}
        {#    <div class="form-group  col-6 m-lg-2 ">#}
        {#        <input type="text"  class="annee" id="annee" >#}
        {#        <label  class=" badge bg-warning col-3  ">Année</label>#}
        {#    </div>#}
        <div class="form-group row mt-4 m-lg-2 ">
            <label  class=" badge bg-warning col-3 ">Date d'ouverture du nouvel exercice</label>
            <div class="col-sm-3">
                <input type="text"  class="date_cloture_1_ex"  name="nouvelExcerciceOuverture" id="nouvelExcerciceOuverture" >
            </div>
        </div>





        <div class="mt-4" >
            <div id="siDifferentdeFormeJuridique">
        <span class="badge bg-warning " > La date de clôture change-t-elle sur ce nouvel exercice    ?
        </span>
                <select id="ClotureChangeOuNon" name="ClotureChangeOuNon">
                    <option>oui</option>
                    <option>non</option>

                </select>
            </div>
        </div>


        <div class="form-group row mt-4 m-lg-2 ">
            <label id="LabelForCloturenouvelExcerciceSiNonEtDifferentduFormeJuridique" class=" badge bg-warning col-3 ">Date de clôture du nouvel exercice</label>
            <div class="col-sm-3">
                <input type="text"  class="date_cloture_1_ex" id="CloturenouvelExcerciceSiNonEtDifferentduFormeJuridique" , name="CloturenouvelExcerciceSiNonEtDifferentduFormeJuridique" >
            </div>
        </div>



        <div class="form-group row mt-4 m-lg-2 ">
            <label  class=" badge bg-warning col-3 " id="test">Date de clôture du 1er exercice</label>
            <div class="col-sm-3">
                <input type="text"  class="date_cloture_1_ex" name="nouvelExcerciceCloture" id="nouvelExcerciceCloture" >
            </div>

        </div>


        <!----------------------------------------------------------------------------------------
        ------------------------------------------------------------------------------------------>

        <div id="CloturenouvelExcerciceSiOuiEtDifferentduFormeJuridique">
            <div id="labelForCloturenouvelExcerciceSiOuiEtDifferentduFormeJuridique" class="form-group  col-6 ">

                <label  class=" badge bg-warning   ">Veuillez indiquer la date de cloture du nouvel exercice</label>
            </div>




            <div class="form-group mt-4 col-6 m-lg-2 ">
                <div class="col-6">
                    <select name="JOURclotureNouvelExNonOuiDifSCI">
                        <option>28</option>
                        <option>29</option>
                        <option>30</option>
                        <option>31</option>
                    </select>
                    <label f class=" badge bg-warning col-3  ">Jour</label>
                </div>
            </div>


            <div class="form-group  col-6 m-lg-2 ">
                <input type="text"  class="annee" id="annee"  name="AnneeclotureNouvelExNonOuiDifSCI">
                <label  class=" badge bg-warning col-3  ">Année</label>
            </div>

            <div class="form-group mt-4 col-6 m-lg-2 ">
                <div class="col-6">
                    <select name="MoisclotureNouvelExNonOuiDifSCI">
                        <option>Janvier</option>
                        <option>février</option>
                        <option>mars</option>
                        <option>avril</option>
                        <option>mai</option>
                        <option>juin</option>
                        <option>juillet</option>
                        <option>aout</option>
                        <option>septembre</option>
                        <option>october</option>
                        <option>novembre</option>
                        <option>decembre</option>

                    </select>
                    <label  class=" badge bg-warning col-3  ">Mois</label>
                </div>
            </div>

        </div>
        <!----------------------------------------------------------------------------------------
        ------------------------------------------------------------------------------------------>


    </div>

    <div class="mt-4" >

        <div id="one">
        <span class="badge bg-warning "> Merci de confirmer votre régime de TVA sur ce nouvel exercice
        </span>
        </div>
        <span class="badge bg-warning "> (Pour le 1er exercice, le Memento Fiscal que vous avez reçu de votre SIE confirme le régime)
        </span>

        <select name="regime">
            <option>Régime Mensuel - Réel Normal</option>
            <option>Régime Trimestriel - Mini Réel</option>
            <option>   Régime Simplifié déclaration à l'année </option>
        </select>
    </div>
    <div class="centre">
        <button  class="btn btn-primary"  type="submit">Ouvrir l'exercice</button>
    </div>
</form>
</div>

<script src={{  asset('https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js') }}></script>


<script>

    $(document).ready(function() {

        var form = "{{ path('ouvertureExcercice',{'formjuridique': 'text'}) }}";


        $('#CloturenouvelExcerciceSiNonEtDifferentduFormeJuridique').hide("fast");
        $('#LabelForCloturenouvelExcerciceSiNonEtDifferentduFormeJuridique').hide("fast");


        $('#CloturenouvelExcerciceSiOuiEtDifferentduFormeJuridique').hide("fast");
        $('#LabelForCloturenouvelExcerciceSiOuiEtDifferentduFormeJuridique').hide("fast");


        if( '{{ formjuridique }}'=="Entreprise individuelle" ||
            '{{ formjuridique }}'=="EIRL" ||
            '{{ formjuridique }}'=="Autoentrepreneur" ||
            '{{ formjuridique }}'=="SCI"
        )
        {
            $('#divFordateSignature').hide("fast");

        }

        $('div#siOui ').hide("fast");
        $('div#siNon ').hide("fast");

        $('div#tbenfijami3el7alet ').show("fast");





        if( '{{ formjuridique }}'=="Entreprise individuelle" ||
            '{{ formjuridique }}'=="EIRL" ||
            '{{ formjuridique }}'=="Autoentrepreneur" ||
            '{{ formjuridique }}'=="SCI"
        )
        {
            $('div#siJuridiqueOui').show("fast");
            $('div#siJuridiqueNon').hide("fast");
            $('div#siDifferentdeFormeJuridique').hide("fast");
            $('#nouvelExcerciceCloture').show("fast");

            $('div#VeuillezIndiquerLaDateDeClotureDu1erExerciceComptable').hide("fast");
        }

        else {
            $('div#siJuridiqueOui').hide("fast");
            $('div#siJuridiqueNon').show("fast");

            $('#nouvelExcerciceCloture').hide("fast");
            $('label#test').hide("fast");
            $('div#siDifferentdeFormeJuridique').show("fast");
        }

    });
    /**********************1er partie [si Oui/Non]********************************/
    $(document).on('change' ,'#firstYesNo', function(event ) {
        if( $('#firstYesNo :selected').text()=='oui')
        {
            $('div#siOui').show("slow");
            $('div#siNon').hide("slow");
        }


        else if ($('#firstYesNo :selected').text()=='non')
        {
            $('div#siOui').hide("slow");
            $('div#siNon').show("slow");


        }
    });
    /**********************2eme partie [date cloture]********************************/
    $(document).on('change' ,'#date', function(event ){

        var date = new Date($('#date').val());
        var year = date.getFullYear();
        document.getElementById("date_cloture_1_ex").value = "31/12"+'/'+year;
        //$("#date_cloture_1_ex ").attr("disabled","disabled");




    });

    $(document).on('change' ,'#dateFinDernierBilanComptable', function(event ){


        if( '{{ formjuridique }}'=="Entreprise individuelle" ||
            '{{ formjuridique }}'=="EIRL" ||
            '{{ formjuridique }}'=="Autoentrepreneur" ||
            '{{ formjuridique }}'=="SCI"
        )
        {
            var date = new Date($('#dateFinDernierBilanComptable').val());
            var year = date.getFullYear();
            year = year + 1;

            document.getElementById("nouvelExcerciceOuverture").value = "01/01" + '/' + year;
            document.getElementById("nouvelExcerciceCloture").value = "31/12" + '/' + year;

            //  $("#nouvelExcerciceOuverture ").attr("disabled", "disabled");
            //  $("#nouvelExcerciceCloture ").attr("disabled", "disabled");

        }

        else {


            $("#divFordateSignature").hide("fast");

            var date = new Date($('#dateFinDernierBilanComptable').val());
            var day = date.getDate();
            var year = date.getFullYear();
            var month = date.getMonth() + 1;

            var day2 = date.getDate();
            var year2 = date.getFullYear();
            var month2 = date.getMonth();

            day=day+1;
            document.getElementById("nouvelExcerciceOuverture").value = "01"+'/'+(month+1)+'/'+year;
            document.getElementById("CloturenouvelExcerciceSiNonEtDifferentduFormeJuridique").value = day2+'/'+(month2+1)+'/'+(year2+1);



        }

    });

    /********** PARTIE 3 [date cloture chanegra-t-elle sur ce nouvel excercice] ***********************/

    $(document).on('change' ,'#ClotureChangeOuNon', function(event ){

        if($('#ClotureChangeOuNon :selected').text()=='oui')
        {

            $('#CloturenouvelExcerciceSiNonEtDifferentduFormeJuridique').hide("fast");
            $('#LabelForCloturenouvelExcerciceSiNonEtDifferentduFormeJuridique').hide("fast");

            $('#CloturenouvelExcerciceSiOuiEtDifferentduFormeJuridique').show("fast");
            $('#LabelForCloturenouvelExcerciceSiOuiEtDifferentduFormeJuridique').show("fast");

        }

        else {
            $('#CloturenouvelExcerciceSiNonEtDifferentduFormeJuridique').show("fast");
            $('#LabelForCloturenouvelExcerciceSiNonEtDifferentduFormeJuridique').show("fast");

            $('#CloturenouvelExcerciceSiOuiEtDifferentduFormeJuridique').hide("fast");
            $('#LabelForCloturenouvelExcerciceSiOuiEtDifferentduFormeJuridique').hide("fast");

            var date = new Date($('#dateFinDernierBilanComptable').val());
            var day = date.getDate();
            var year = date.getFullYear();
            var month = date.getMonth();

            document.getElementById("CloturenouvelExcerciceSiNonEtDifferentduFormeJuridique").value = day+'/'+(month+1)+'/'+(year+1);
        }


    });

</script>

