
<u><h4 style="text-align:center;"> DECLARATION D'ACCEPTATION </h4></u>
<div >

    <p> {{app.user.email}}  a pris connaissance le  {{date | date('d/m/Y')  }}  à {{date | date('H:i:s')  }}  </p>
</div>

<p> que	</p>
<p> L'abonnement comprend les prestations et livrables suivants : </p>
<p> > La saisie comptable courante</p>
<p> > Le questionnaire de fin d'exercice comptable </p>
<p> > Le cadrage annuel de TVA (régime réel) </p>
<p> > La déclaration annuelle de TVA CA12 (régime simplifié) </p>
<p> > La balance comptable exportable </p>
<p> > Le grand livre général </p>
<p> > Les journaux d'écritures exportables	 </p>
<p> > Le tableau des immobilisations  </p>
<p> > Le compte de résultat	 </p>
<p> > Le bilan </p>


<div>
    <p> {{app.user.email}} a accepté nos Conditions d'utilisation,
        notre <u>Déclaration de confidentialité</u> et a reconnu avoir plus de
        18 ans. Il a pris connaissance qu'il peut renouveler son abonnement
        à chaque nouvel exercice ouvert.
        Les frais correspondants (actuellement 120 euros hors taxe par exercice) seront
        prélevés via le mode de paiement choisi. Il ne sera pas prélevé s'il n'ouvre
        pas de nouvel exercice. La suppression de son compte peut être exécutée
        sur simple demande par mail à suppression@aldini.fr
    </p>
</div>
