<div id="siNon">


    <div class="form-row">
        <div class="form-holder form-holder-2">
            <label> Quelle est la date de fin du dernier bilan comptable déposé aux impôts ?</label>

            <input id="dateFinDernierBilanComptable" name="dateFinDernierBilanComptable" type="date"
                   value="2022-01-01">
        </div>
    </div>

    <div id="siEgaldeFormeJuridique" >

        <div class="form-row">
            <div class="form-holder form-holder-2">
                <label>Date d'ouverture du nouvel exercice</label>
                <input type="text" class="date_cloture_1_ex" name="nouvelExcerciceOuverture"
                       id="nouvelExcerciceOuverture">
            </div>
        </div>

        <div class="form-row ">
            <div class="form-holder form-holder-2">
                <label id="test">Date de clôture du 1er
                    exercice</label>

                <input type="text" class="date_cloture_1_ex" name="nouvelExcerciceCloture"
                       id="nouvelExcerciceCloture">
            </div>
        </div>

    </div>


    <div id="siDifferentdeFormeJuridique" >


        <div class="form-row">
            <div class="form-holder form-holder-2">
                <label>Date d'ouverture du nouvel exercice</label>
                <input type="text"
                       id="nouvelExcerciceOuverturesiDifferentdeFormeJuridique">
            </div>
        </div>

        <div class="form-row">
            <div class="form-holder form-holder-2">
                <label> La date de clôture change-t-elle sur ce nouvel exercice ? </label>
                <select class="form-control" id="ClotureChangeOuNon" name="ClotureChangeOuNon">
                    <option value=""></option>
                    <option>oui</option>
                    <option>non</option>
                </select>
            </div>
        </div>


    </div>
    <!----------------------------------------------------------------------------------------
    ------------------------------------------------------------------------------------------>


    <div class="form-row" id="DivdateClotureNvExcerciceSIdiffJuridiqueEtNon">
        <div class="form-holder form-holder-2">
            <label>Date de clôture du nouvel exercice</label>
            <input type="date"
                   id="dateClotureNvExcerciceSIdiffJuridiqueEtNon">
        </div>
    </div>


    <div class="form-row" id="DivdateClotureNvExcerciceSIdiffJuridiqueEtOui">
        <div class="form-holder form-holder-2">
            <label>Veuillez indiquer la date de cloture du nouvel exercice Cela est défini dans les statuts de la société à l'article Exercice social</label>
            <input type="date"
                   id="dateClotureNvExcerciceSIdiffJuridiqueEtOui">
        </div>
    </div>

    <!----------------------------------------------------------------------------------------
    ------------------------------------------------------------------------------------------>

    <div class="form-row" id="CloturenouvelExcerciceSiOuiEtDifferentduFormeJuridique">
        <div class="form-holder form-holder-2">
            <label id="labelForCloturenouvelExcerciceSiOuiEtDifferentduFormeJuridique">Veuillez indiquer la date de
                cloture
                du nouvel exercice</label>

            <input class="form-control" id="date" name="dateCreationEntreprise"
                   type="date" value="2022-06-01">
        </div>
    </div>
    <!----------------------------------------------------------------------------------------
    ------------------------------------------------------------------------------------------>


</div>