<div id="siOui">

    <div id="siJuridiqueOui">

        <div class="form-row">
            <div class="form-holder form-holder-2">
                <label> Veuillez indiquer la date de création de l'entreprise ?</label>
                <input class="form-control"  id="dateCreationEntreprise"
                       type="date" value="2022-06-01">
            </div>
        </div>


        <div class="form-row">
            <div class="form-holder form-holder-2">
                <label> Date de clôture du  1er  excercice </label>
"
                <input class="form-control date_cloture_1_ex" type="text"
                       id="datecloture1ex">

            </div>
        </div>
    </div>

    <!------------------------------------------------------------------------------------------------>
    <div id="siJuridiqueNon">
        <div id="divFordateSignature">
            <div class="form-row">
                <div class="form-holder form-holder-2">
                    <label> Veuillez indiquer la date de signature des statuts </label>
                    <input class="form-control" type="date"
                           name="datesignatureStatus"
                           value="2017-06-01">
                </div>
            </div>
        </div>


        <div id="VeuillezIndiquerLaDateDeClotureDu1erExerciceComptable">

            <div class="form-row">
                <div class="form-holder form-holder-2">


                    <label> Veuillez indiquer la date de cloture du 1er exercice comptable
                        (Bilan)</label>

                    <label class=" badge bg-warning   ">Cela est défini dans les statuts
                        de
                        la société à
                        l'article Exercice social"</label>

                    <input class="form-control"  type="date"
                           name="datesignatureStatus"
                           value="2017-06-01">

                </div>
            </div>
        </div>
    </div>
</div>